* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#start-screen {
  background-color: #f3e2ab;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url(./Colorful_Music_Notes_Clipart_Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  width: fit-content;
  height: auto;
  margin-top: 0;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #e933ff,
    #e3ddcf,
    #ff3333,
    #020c49,
    #e933ff
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: h1 5s linear infinite;
  text-shadow: 2px 2px 4px rgba(2, 67, 30, 0.5);
}

@keyframes h1 {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
}
h2 {
  width: fit-content;
  height: fit-content;

  background-color: red;
  background-image: linear-gradient(45deg, #07277a, #a11039);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  text-transform: uppercase;
  font-weight: 100;

  text-shadow: 2px 2px 4px rgba(1, 20, 10, 0.5);
}
#menu-screen {
  display: flex;
  flex-direction: row;
  column-gap: 400px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(./notes-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f3e2ab;
}

#play-screen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    90deg,
    #d1d29b,
    #addc87,
    #ee6f6f,
    #cda444,
    #b69dbc
  );
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

#single-note {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#triplet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec-menu-screen-1 {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  width: fit-content;
  margin: 0;
}
.sec-menu-screen-2 {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  height: 100%;
  width: fit-content;
  margin-bottom: 10%;
}

@media screen and (max-width: 768px) {
  .sec-menu-screen-1 {
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
  }
  .sec-menu-screen-2 {
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
  }
}
.menu-img-1 {
  width: 200px;
  height: 200px;

  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.6),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.9), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 15%;

  margin-top: 30%;
  margin-bottom: 15%;
  padding: 10%;
}

.menu-img-2 {
  width: 200px;
  height: 200px;

  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.6),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.9), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 15%;
  margin-top: 90%;
  margin-bottom: 15%;
  padding: 10%;
}

#scale-section {
  margin: 2%;
  overflow: hidden;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url("./scale.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  white-space: nowrap;
}

.notes-on-scale {
  width: 70px;
  display: inline-block;
  /* height: 70px */

  margin: 0, 5%, 5%, 0;
}

.wrong-answer {
  background-color: red;
}
.right-answer {
  background-color: aquamarine;
}

.expected-answer {
  border: 4px groove rgb(109, 161, 152);
}

button {
  background-color: #8dae17;
  border: 0;
  border-radius: 56px;
  color: #e2e9c8;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  background-image: linear-gradient(#d6debf 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  button {
    font-size: 16px;
  }
}

.hidden,
#play-screen.hidden,
#start-screen.hidden,
#menu-screen.hidden {
  display: none;
}

#dialog {
  position: relative;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
}

#dialog img {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}
.text-of-modal {
  position: absolute;
  top: 10%;
  left: 50%;
  text-transform: uppercase;
  color: pink;
  background: transparent;
  text-shadow: 1px 1px 2px rgb(63, 59, 50);
  font: bold 45px/34px Helvetica, Sans-Serif;
}
