body {
  padding: 0;
  text-align: center;
}

.hidden {
  display: none;
}

.right-answer {
  background-color: aquamarine;
}

.wrong-answer {
  background-color: red;
}

.expected-answer {
  background-color: aqua;
}
